@import url('https://fonts.googleapis.com/css?family=Courgette|Lobster|Merriweather:400i|Montserrat|Roboto+Slab|Source+Sans+Pro:600');
/**{
    outline: 1px solid red;
    top:0;
}*/

/* Encabezado */
header {
    background-image: url(../img/header-bg.jpg);
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 75vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title-general{
    font-family: 'Courgette', cursive;
    font-size: 3vw;
    color: #EECD14;
}

header .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
    padding: 1.4vw 5vw;
}

.navbar-toggle{
    color: #fff;
    display: flex;
    align-items: center;
}

.navbar-inverse .navbar-toggle {
    background: #EECD14;
    font-size: 3vw;
    font-weight: bold;
}

.navbar-toggle .icon-bar+.icon-bar{
    margin-top: 2px !important;
}

.navbar-toggle .icon-bar {
    width: 14px !important;
    margin-left: 4px;
}

header .navbar-inverse .navbar-nav>.active>a{
    color: #fff;
    background-color: #EECD14;
    border-radius: 5px;
}

header .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

header .navbar-inverse .navbar-nav>li>.unico {
    color: #EECD14;
}

header .action{
    color: #fff;
    padding-top: 30vw;
}

header .action>h3{
    font-family: 'Merriweather', serif;
    font-size: 2.2vw;
    letter-spacing: 0.2vw;
}

header .action>h1{
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 3vw;
}

header .action .btn-warning {
    color: #fff;
    background-color: #EECD14;
    border-color: #EECD14;
    padding: 1.2vw 1.8vw;
    font-size: 1.7vw;
    font-weight: bold;
}

/* Section 1*/

h2{
    font-weight: bold !important;
    font-size: 4vw !important;
}

h5{
    font-family: 'Merriweather', serif !important;
    font-size: 1.5vw !important;
}

h4{
   font-weight: bold !important; 
}

p{
   font-family: 'Roboto Slab', serif !important; 
}

#section1 .container-fluid{
    padding-top: 6vw;
    padding-bottom: 6vw;
}

#section1 .container-fluid .container{
    padding-top: 5vw;
}

.parrafo{
    padding-top: 3vw;
}

.btn-servicio {
    font-size: 4em;
    line-height: 45px;
    text-align: center;
    border-radius: 100%;
    padding: 17px 29px;
    background-color: #f7d606;
}

#section1 .container-fluid .container .row .col-md-4 .servicio .btn-servicio .fa{
    color: #fff;
} 

.btn-servicio:hover{
    background: #E8B00F;
}

/* definiendo estilo a la seccion2 portafolio */
#section2{
    background-color: #E4E1D8;
    text-align: center;
    display: flex;
}
#section2 .container-fluid{
    padding-top: 6vw;
    padding-bottom: 6vw;
}

#section2 .container-fluid .container .col-md-4{
    margin-top: 25px;
}

.two-name{
    padding-bottom: 3.2vw;
}

.blanco-nombre{
    background-color: #fff;
    padding-bottom: 1vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Definiendo estilos a ABOUT seccion3*/
.btn-story{
    border-radius: 100%;
    background-color: #f7d606;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 5vw 1vw;
    color: #fff;
}

/* Definiendo estilo a la seccion4 de AMAZING */
#section4{
    background-color: #E4E1D8;
    text-align: center;
    display: flex;
}
#section4 .container-fluid{
    padding-top: 6vw;
    padding-bottom: 6vw;
}

#section4 .container-fluid .container .col-md-4{
    margin-top: 25px;
    margin-bottom: 15px;
}

.team-col ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
}

.btn-team{
    font-size: 1em;
    line-height: 45px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    padding: 10px;
    background-color: #000;
}

#section4 .container-fluid .container .row .col-md-4 .btn-team .fa{
    color: #fff;
} 


.btn-tema:hover{
    background: #fff;
}

/* Definiendo estilo seccion5 LOGOTIPOS */
#section5{
    display: flex;
}
#section5 .container-fluid{
    padding-top: 6vw;
    padding-bottom: 6vw;
}

#box-logos .col-md-3{
    margin-top: 30px;
}

.etiqueta{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Seccion Contacto*/

#section6 {
    background-image: url(../img/map-image.png);
    background-color: #000;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer{
    background-color: #fff;
}

.footer-col ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.btn-social{
    font-size: 1em;
    line-height: 45px;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid #000;;
    border-radius: 100%;
    padding: 10px;
    background-color: #000;
}
.btn-social:hover{
    background: #fff;
}
.btn-social .fa:hover{
    color: #000;
}

footer .btn-social .fa{
    color: #fff;
}























#section6{
    background-image: url(../img/map-image.png);
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
